.news {
	background-color: var(--color-light);
	max-width: 421px;
	display: flex;
	flex-direction: column;
	row-gap: 44px;
	padding: 40px;

	@include desktop {
		max-width: 380px;
	}

	@include tablet-s {
		max-width: 540px;
		row-gap: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: 14px;

		@include tablet {
			row-gap: 5px;
		}

		&-date {
			color: var(--color-accent);
			font-weight: 700;
			text-transform: uppercase;
			font-size: 13px;
		}

		&-title {
			font-size: 22px;
		}

		&-text {
			font-size: 15px;
		}
	}
	&__link {
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
	}
}
