:root {
	--color-dark: #545050;
	--color-light: rgb(255, 255, 255);
	--color-accent-alt: rgb(211, 168, 99);
	--color-accent: rgb(199, 72, 23);
	--color-light-alt: rgb(247, 243, 240);

	--border: 1px solid currentColor;

	--font-family-base: "Open Sans";

	--button-height: 50px;

	--container-width: 1300px;
	--container-padding-x: 20px;

	--trsnsition-duration: 0.2s;
}
